<div class="row">
		 				<?php
	 					echo('Hola');
	 				?>
	<div class="well my-jumbotron">
		<% if current_user != @trip.piloto %>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="centering">
						<%= form_for([@trip, @question]) do |q| %>
							<div class="form-group">
								<%= q.label :pregunta %> <br>
								<%= q.text_area :pregunta, class: "form-control" %>
							</div>
							<div class=" actions">
								<%= q.submit "Realizar pregunta", class:"btn my-link-button my-button-color" %>
							</div>
						<% end %>
					</div>
					<br>
				</div>
				<div class="col-md-3"></div>
			</div>
		<% end %>

		<% if @trip.questions.empty? %>
			<div style="text-align: center; font-size: 18px">
				<b>No hay Preguntas al viaje</b>
			</div>
		<% else %>
			<% @trip.questions.each do |q| %>
				<div class="media my-jumbotron2">
					<!-- PREGUNTA EXISTENTE AL VIAJE -->
					<div class="media-left">
						<%= image_tag(q.comentador.avatar,:class=>"circular-image post-image", :alt=>'Avatar')%>
					</div>
					<div class="media-body">
						<h4 class="media-heading"> <%= link_to usernameOf(q.comentador), user_path(q.comentador) %>
							<small><i> <span class="glyphicon glyphicon-calendar"></span>
								<% fechaQ = q.created_at - 10800 %>
								<%= '  '+formato_fecha(fechaQ.to_date) %>  <%= fechaQ.to_time.strftime('%H:%M') %>
							</i></small>
						</h4>
						<p> <%= q.pregunta %> </p>
						<% if !q.answer %>
							<% if current_user == @trip.piloto %>
								<!-- SI NO TIENE RESPUESTA EL LUGAR PARA OFRECER RESPONDER -->
								<%= form_for([@trip, q, @answer]) do |a| %>
									<div class="form-group">
										<%= a.label :respuesta %> <br>
										<%= a.text_area :respuesta, class: "form-control" %>
									</div>
									<div class=" actions">
										<%= a.submit "Responder", class:"btn my-link-button my-button-color" %>
									</div>
								<% end %>
							<% end %>
						<% else %>
							<div class="media my-jumbotron2">
								<!-- SI TIENE RESPUESTA LA RESPUESTA A LA PREGUNTA -->
								<div class="media-left">
									<%= image_tag(@trip.piloto.avatar,:class=>"circular-image post-image", :alt=>'Avatar')%>
								</div>
								<div class="media-body">
									<h4 class="media-heading"> <%= link_to usernameOf(@trip.piloto), user_path(@trip.piloto) %>
										<small><i><span class="glyphicon glyphicon-calendar"></span>
											<% fechaA = q.answer.created_at - 10800 %>
											<%= '  '+formato_fecha(fechaA.to_date) %>  <%= fechaA.to_time.strftime('%H:%M') %>
										</i></small>
									</h4>
									<p> <%= q.answer.respuesta %> </p>
								</div>

							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
