<% provide(:titulo, 'Un aventon!') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <div class="row">
<!--               <div class="col-md-2">
              </div> -->
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-10" style="background-color: #fafafa;">
                    <div class="row">
                    	<h1>
                    	<center>
    						Viajes disponibles
    					</center>
    					</h1>
                      <div class="col-md-1">
                      </div>
                      <div class="col-md-10">
                        <% if @trips.empty? %>
                          <h3>No hay viajes, <%= link_to ' crea uno!', '#' %></h3>
                          <!-- <div class="jumbotron my-jumbotron">
                          <h3 style="align-content: center;"> 
                            Nombre de Ciudad Origen - Nombre de Ciudad Destino
                          </h3>
                          <div class="row">
                            <div class="col-md-4">
                              <h5>
                                Fecha: dd/mm/aaaa
                              </h5>
                              <h5>
                                Hora: hh:mm
                              </h5>
                              <h5>
                                Piloto: nombre_usuario
                              </h5>
                            </div>
                            <div class="col-md-8">
                              <h4>
                                Esta es una descripcion del viaje realizado por asdasddfsrfsdasdesf sedssfsdfsed sdsdef desdsfsd....
                              </h4>
                               <button type="button" class="btn btn-block btn-sm my-button-color"><b>
                                  <%= link_to 'Ver viaje', '#',:class => "my-link-button" %> 
                              </b></button>
                            </div>
                          </div>
                        </div>
                        <div class="jumbotron my-jumbotron">
                          <h3 style="align-content: center;"> 
                            Nombre de Ciudad Origen - Nombre de Ciudad Destino
                          </h3>
                          <div class="row">
                            <div class="col-md-4">
                              <h5>
                                Fecha: dd/mm/aaaa
                              </h5>
                              <h5>
                                Hora: hh:mm
                              </h5>
                              <h5>
                                Piloto: nombre_usuario
                              </h5>
                            </div>
                            <div class="col-md-8">
                              <h4>
                                Esta es una descripcion del viaje realizado por asdasddfsrfsdasdesf sedssfsdfsed sdsdef desdsfsd....
                              </h4>
                               <button type="button" class="btn btn-block btn-sm my-button-color"><b>
                                  <%= link_to 'Ver viaje', '#',:class => "my-link-button" %> 
                              </b></button>
                            </div>
                          </div>
                        </div> -->
                        <% else %>
                          <% @trips.each do |t| %>
                            <!-- Aca va el codigo de mostrar viaje -->
                          <% end %>
                        <% end %>
                      </div>
                      <div class="col-md-1">
                      </div>
                    </div>
                  </div>
                <div class="col-md-1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <p>
            <%= link_to 'Contato', '#' %>
          </p>
          <p>
            <%= link_to 'Ayuda', '#' %>          
        </div>
    </div>
  </div>
</div>
