<header class="navbar navbar-default">
  <div class="container-fluid">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <%= link_to image_tag('Logo.jpg',:class=>"circular-image", :alt=>'Un Aventon!', size: '50x50'), root_path %>
      </ul>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-center nav-btn">
          <li class="my-button disabled"><%= link_to 'Crear Viaje', new_user_trip_path(@user), class: "navbutton isDisabled" %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right my-navbar">
        <li><%= link_to "Inicio", root_path %></li>
        <% if user_signed_in? %>
          <li> <%= link_to '   Perfil', current_user %></li>
          <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Crear cuenta', new_user_registration_path %></li>
          <li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
