<header class="navbar navbar-default">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= image_tag('Logo.jpg', :alt=>'Un Aventon!') %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inicio", root_path %></li>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to 'Crear cuenta', new_user_registration_path %></li>
          <li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
