<% provide(:titulo, @user.nombre+' '+@user.apellido) %>

<%= image_tag(@user.avatar.url) %>
<h3>
  <%= @user.nombre+' '+@user.apellido %>
</h3>
<p>
  <%= @user.email %>
</p>
<p>
  <%= formato_fecha %>
</p>
<p>
  <%= link_to 'Mis viajes', '#' %>
  <%= link_to 'Mis vehiculos', user_vehicles_path(@user) %>
  <%= link_to 'Nuevo vehiculo', new_user_vehicle_path(@user) %>
</p>
