<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <% if @user.eliminado %>
        <div class="page-header">
        <!--  "En este div se puede poner el titulo de la pagina o un titulo general" -->
          <h1>Este usuario ya no existe</h1>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-1">
          <!-- Esta columna es para separar el borde de la primer columna de contacto -->
          </div>
          <div class="col-md-10">
          <!-- Columna en dodne se va a desarrollar el perfil -->
            <div class="row">
              <div class="col-md-2">
              <!-- Columna para foto de perfil y demases -->
                <% provide(:titulo, @user.nombre+' '+@user.apellido) %>
                <%= image_tag(@user.avatar.url,:class=>"circular-image mediumm-image")%>
                <h3>
                  <%= @user.nombre+' '+@user.apellido %>
                </h3>
                <p>
                  <%= @user.email %>
                </p>
                <p>
                  <%= formato_fecha %>
                </p>
                
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-1">
                  <!-- columna separadora -->
                  </div>
                  <div class="col-md-10" style="background-color: #fafafa">
                    <h1 style="text-align: center;">
                      Ultimos Viajes
                    </h1>
                    <!-- completar con estructura para poner viajes como objetos dentro -->
                    <div class="jumbotron" style="background-color: #f2dede; text-align: center;">
                      <h3>
                        Mar del Plata   23/03/2018
                      </h3>
                      <p>
                        Descripcion de viaje
                      </p>              
                      <p>
                        Algo mas del viaje
                      </p>
                      <p>
                        Botones si tiene (?
                      </p>
                    </div>
                      <div class="jumbotron" style="background-color: #f2dede; text-align: center;">
                      <h2>
                        Titulos de Viajes
                      </h2>
                      <p>
                        Descripcion de viaje
                      </p>              
                      <p>
                        Algo mas del viaje
                      </p>
                      <p>
                        Botones si tiene (?
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                <!-- columna separadora -->
                </div>
              </div>
            <div class="col-md-2" style="text-align: center;">
              <!-- En esta columna todavia no se me ocurre que poner -->
                <button type="button" class="btn btn-block btn-sm my-button-color">
                  <%= link_to 'Mis viajes', '#', :class => "my-link-button" %>
                </button>
                <button type="button" class="btn btn-block btn-sm my-button-color">
                  <%= link_to 'Editar cuenta', edit_user_registration_path,:class => "my-link-button" %>
                </button>
                <button type="button" class="btn btn-block btn-sm my-button-color">
                  <%= link_to 'Mis Vehiculos', '#',:class => "my-link-button" %>
                </button>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        <!-- columna separadora -->
        </div>
      <% end %>
    </div>
  </div>
</div>
