<% provide(:titulo, @user.nombre+' '+@user.apellido) %>

<%= image_tag(@user.avatar.url,:class=>"circular-image mediumm-image" )%> 
<h3>
  <%= @user.nombre+' '+@user.apellido %>
</h3>
<p>
  <%= @user.email %>
</p>
<p>
  <%= formato_fecha %>
</p>
<p>
  <%= link_to 'Mis viajes', '#' %>
</p>
