<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10" style="background-color: #fafafa">
		<h1 style="text-align: center;"> Cuenta Interna<br><br> </h1>
		<div class="row">
			<div class="col-md-6">
				<h3 style="text-align: left; margin-left: 15px"> Saldo: $  <%= @cuenta.saldo %> </h4><br>
			</div>
			<div class="col-md-6">
				<h3 style="text-align: right; margin-right: 15px; color: red;"> Deuda: $ <%= @cuenta.deuda %> </h4><br>
			</div>
		</div>
		<% if @cuenta.deuda > 0 %>
			<div class=" row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<%= link_to 'Pagar con saldo', '#', :class => "btn btn-block btn-sm colapso my-link-button" %>
	        		<%= link_to 'Pagar con tarjeta', '#', :class => "btn btn-block btn-sm colapso my-link-button" %>
					<!-- <button type="button" class="btn btn-block btn-lg colapso my-link-button" data-toggle="modal" data-target="#myModal">Pagar deuda total</button> -->
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row" >
				<br>
				<br>
				<h2 style="text-align: center;"> Deudas </h2>
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<% @deudas.each do |deuda| %>
						<div class="well my-jumbotron">
							<div class="row">
					 			<div class=" col-md-9">
					 				<div class="row">
					 					<div class="col-md-8">
					 					<h4> <b> <%= deuda.trip.origen %> - <%= deuda.trip.destino %> </b> </h4>
					 					</div>
					 					<div class="col-md-4"> 
					 					<h5> <span class="glyphicon glyphicon-calendar"></span> <%= '  '+formato_fecha(deuda.trip.fecha_inicio) %>  <%= deuda.trip.hora_inicio.strftime('%H:%M') %> </h5>
					 					
					 					</div>	
					 				</div>
					 				<div class="row">
					 					<div class="col-md-8">
					 						<b>Piloto: </b> <%= link_to image_tag(deuda.trip.piloto.avatar,:class=>"circular-image post-image", :alt=>'Avatar')+'  '+ usernameOf(deuda.trip.piloto), user_path(deuda.trip.piloto) %>
					 					</div>
					 					<div class="col-md-4" style="margin-top: 6px">
					 						<b> Deuda: </b> $ <%= deuda.deuda %>
					 					</div>
					 				</div>
					 			</div>
					 			<div class="col-md-3" style="margin-top: 15px">
					 				<%= link_to 'Pagar con saldo', '#', :class => "btn btn-block btn-sm colapso my-link-button" %>
	        						<%= link_to 'Pagar con tarjeta', '#', :class => "btn btn-block btn-sm colapso my-link-button" %>
					 				<!-- <button type="button" class="btn btn-block btn-sm colapso my-link-button" data-toggle="modal" data-target="#myModal">Pagar</button> -->
					 			</div>
					 		</div>
 						</div>	
					<% end %> 
				</div>
				<div class="col-md-1"></div>
			</div>
		<% end %>
	</div>
	<div class="col-md-1"></div>
</div>

<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
	      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Pagar</h4>
	      </div>
	      <div class="modal-body">
	        <%= link_to 'Pagar con saldo', '#', :class => "btn btn-block btn-sm colapso my-link-button" %>
	        <%= link_to 'Pagar con tarjeta', '#', :class => "btn btn-block btn-sm colapso my-link-button" %>
	      </div>
	    </div>
	</div> 
</div> -->