<div class="col-md-1">
</div>
<div class="col-md-10" style="background-color: #fafafa">
  <h1 style="text-align: center;">
	Ultimos Viajes
  </h1><br><br>
  <div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	  <% if @realizado.empty? %>
		<div>
			<% if @user == current_user %>
				<h3> No has realizado viajes todavia :( </h3>		  
				<p>
					<ul> <%= link_to 'Crea un viaje', new_user_trip_path(current_user) %> </ul>
					<ul> <%= link_to 'Mira los viajes disponibles', root_path %> </ul>
				</p>
			<% else %>
				<h3> El usuario no ha realizado viajes todavia :( </h3>
		  	<% end %>
		</div>
	  <% else %>
		<% @realizado.each do |t| %>
		  <div class="well my-jumbotron">
			<div class="row">
			  <h3 style="text-align: center;">
				<%='Origen: '+t.origen %>   -    <%= 'Destino: '+t.destino %>
			  </h3>
			</div>
			<div class="row">
			  <div class="col-md-4">
				<h5>
				  <b>Fecha: </b> <%= formato_fecha(t.fecha_inicio) %>
				</h5>
				<h5>
				  <b>Hora: </b> <%= t.hora_inicio.strftime('%H:%M') %>
				</h5>
				<h5>
				  <b>Piloto: </b> <%= link_to image_tag(t.piloto.avatar.url,:class=>"circular-image small-image")+'  '+usernameOf(t.piloto), user_path(t.piloto) %>
				</h5>
				<h5>
				  <b>Asientos: </b> <%= t.cantidad_asientos_ocupados %> / <%= t.vehicle.cantidad_asientos %>
				</h5>
			  </div>
			  <div class="col-md-8">
				<div class="row" style="width: 100%;">
				  <h4>
					<b>Descripcion:</b> <%= t.descripcion %>
				  </h4>
				</div>
			  </div>
			</div>
			<br>
			<div class=" row">
			  <div class="col-md-4"></div>
			  <div class="col-md-4">
				<b>
					<%= link_to 'Ver detalle', user_trip_path(t.piloto, t),:class => "btn btn-block btn-md my-button-color my-link-button"%>
				</b>
			  </div>
			  <div class="col-md-4"></div>
			</div>
		  </div>
		  <br>
		<% end %>
	  <% end %>
	</div>
  </div>
</div>
<div class="col-md-1">
</div>