<p>El viaje a <%= @viaje.destino %> al que habías sido aceptado, ha sido cancelado</p> <br>
<STRONG><p>Detalles:</p></STRONG><br>
Fecha de inicio: <%= @viaje.fecha_inicio %><br>
Hora de inicio: <%= @viaje.hora_inicio.strftime('%H:%M') %><br>
Origen: <%= @viaje.origen %><br>
Destino: <%= @viaje.destino %><br>
<p>Disculpe las molestias </p>