<h1>Modifica el vehículo</h1>

<%= form_for [@user, @vehicle], url: user_vehicles_path do |form| %>

	<% if @vehicle.errors.any? %>
		<div class="alert alert-danger alert-dismissable">
			<button class="close" type="button" data-dismiss="alert">x</button>	
			<ul>
				<% @vehicle.errors.each do |e| %>
			</ul>
			<li>
				<%= @vehicle.errors[e][0] %>
			</li>
			<% end %>
		</div>
	<% end %>

	<p>
		<%=	form.label :modelo %> <br>
		<%= form.text_field :modelo %>
	</p>
	<p>
		<%=	form.label :marca %> <br>
		<%= form.text_field :marca %>
	</p>
	<p>
		<%=	form.label :cantidad_asientos, "Cantidad de asientos" %> <br>
		<%= form.text_field :cantidad_asientos %>
	</p>
	<p>
		<%=	form.label :color %> <br>
		<%= form.text_field :color %>
	</p>
	<p>
		<%=	form.label :tipo %> <br>
		<%= form.select :tipo, ['--Elige el tipo--','Moto', 'Auto', 'Pick-up', 'Autobus', 'Camion'] %>
	</p>

<%= form.submit "Modificar vehiculo" %>
<% end %>
