<div class="centering">
	<h2 style="text-align: center;">Modifica el vehículo</h2>

	<%= form_for ([@user, @vehicle]) do |form| %>

		<% if @vehicle.errors.any? %>
			<div class="alert alert-danger alert-dismissable">
				<button class="close" type="button" data-dismiss="alert">x</button>	
				<ul>
					<% @vehicle.errors.each do |e| %>
				</ul>
				<li>
					<%= @vehicle.errors[e][0] %>
				</li>
				<% end %>
			</div>
		<% end %>
		<div class="form-group">
			<%= form.label :patente %> <br>
			<%= form.text_field :patente, readonly: true, class: "form-control" %>
		</div>
		<div class="form-group">
			<%=	form.label :marca %> <br>
			<%= form.text_field :marca, class: "form-control" %>
		</div>
		<div class="form-group">
			<%=	form.label :subMarca, "Modelo" %> <br>
			<%= form.text_field :subMarca, class: "form-control" %>
		</div>
		<div class="form-group">
			<%=	form.label :modelo, "Año" %> <br>
			<%= form.text_field :modelo, class: "form-control" %>
		</div>
		<div class="form-group">
			<%=	form.label :tipo %> <br>
			<%= form.select :tipo, ['--Elige el tipo--','Moto', 'Auto', 'Pick-up', 'Autobus', 'Camion'], class: "form-control" %>
		</div>
		<div class="form-group">
			<%=	form.label :cantidad_asientos, "Cantidad de asientos" %> <br>
			<%= form.text_field :cantidad_asientos, class: "form-control" %>
		</div>
		<div class="form-group">
			<%=	form.label :color %> <br>
			<%= form.text_field :color, class: "form-control" %>
		</div>
		<div class=" actions">
			<%= form.submit "Modificar", class:"btn my-link-button my-button-color" %>
		</div>
	<% end %>
</div>