<% provide( :titulo, "Nuevo vehiculo") %>

<div class="centering">
	<h2 style="text-align: center;">Registra tu vehículo:</h2>
	<%= form_for [@user, @vehicle], url: user_vehicles_path do |form| %>

		<% if @vehicle.errors.any? %>
			<div class="alert alert-danger alert-dismissable">
				<ul>
					<% @vehicle.errors.each do |e| %>
				</ul>
				<li>
					<%= @vehicle.errors[e][0] %>
				</li>
			</div>
		<% end %>
	<% end %>
	<div class="form-group">
		<%= form.label :patente %> <br>
		<%= form.text_field :patente, class: "form-control" %>
	</div>
	<div class="form-group">
		<%=	form.label :modelo %> <br>
		<%= form.text_field :modelo, class: "form-control" %>
	</div>
	<div class="form-group">
		<%=	form.label :marca %> <br>
		<%= form.text_field :marca, class: "form-control" %>
	</div>
	<div class="form-group">
		<%=	form.label :tipo %> <br>
		<%= form.text_field :tipo, class: "form-control" %>
	</div>
	<div class="form-group">
		<%=	form.label :color %> <br>
		<%= form.text_field :color, class: "form-control" %>
	</div>
	<div class="form-group">
		<%=	form.label :cantidad_asientos, "Cantidad de asientos" %> <br>
		<%= form.text_field :cantidad_asientos, class: "form-control" %>
	</div>

	<div class=" actions">
		<%= form.submit "Guardar vehículo", class:"btn my-link-button my-button-color" %>
	</div>

<% end %>
</div>
