<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if yield(:titulo).empty? %>
        Un aventon!
      <% else %>
        <%= yield(:titulo) %>
      <% end %>
    </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="pagina">
      <%= render 'partials/header' %>
      <div class="pagina-contenido">
        <div class="container-fluid">
          <%= render 'partials/messages' %>
          <%= yield %>
        </div>
      </div>
      <%= render 'partials/footer' %>
    </div>
  </body>
</html>
