<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if yield(:titulo).empty? %>
        Un aventon!
      <% else %>
        <%= yield(:titulo) %>
      <% end %>
    </title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="contenedor">
      <div class="row">
        <div class="col-md-12">
          <%= render 'partials/header' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render 'partials/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render 'partials/footer' %>
      </div>
    </div>
  </div>
  </body>
</html>
